@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');;

:root{
	--color-negro:#282d33;
	--menu-hover:#ec3642;
	--color-rojo:#ec3642;
	--fondo-header:#212121;
	--fondo-footer:#212121;
	--color-footer:#ccc;
}


body{
	background-color: #252525;
	font-size: 14px;
}
header{
	background-color: var(--fondo-header);
}

#hero-slides h1{
	font-size: 50px;
	font-weight: 700;
	padding-top: 2%;
	margin-right: 8%;
}

#hero-slides h3{
	font-size: 30px;
	font-weight: 700;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%;
	text-align: left;
	width: 360px;
	height: 60px;
	border:2px solid #fff ;
	margin-left: 8%;
	
}
.carousel-inner{
	padding-bottom: 15%;
}
.carousel-item img{
	position: absolute;
	object-fit:cover
} 



.btn-hero{
  background-color:#ec3642;
  color: #FFFFFF;
  padding: 10px 40px;
  text-align: center;
  display:inline-block;
  font-size: 14px;
  font-weight: bold;
  margin-right:60%;
  margin-top: 2%;
  cursor: pointer;
}

.btn-hero:hover{
	color:#ec3642;
	background-color: var(--color-rojo);

}
#intro{
	padding-top: 3%;
}
#intro h4{
	color: #fff;
	font-size: 15px;
	
}

#intro h3{
	color: #fff;
	font-size: 20px;
	
}


.sports{
	background-color:  #161616;
	color: #fff;
	text-align: left;
	padding: 3% 9%;	
	margin-bottom: 7%;
	margin-left: 3%;
	margin-right: 3%;
}

#products{
	padding-top: 5%;
	padding-bottom: 5%;
}
.btn-product{
  background-color:transparent;
  border: 1px solid #fff;
  color: #FFFFFF;
  padding: 10px 40px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 2%;
	margin-left:490px;
  cursor: pointer;
}

.btn-product:hover{
	color:#ec3642;
	background-color: var(--color-rojo);
}


.products-info{
	background-color:  #161616;
	color: #fff;
	text-align: left;
	margin-bottom: 7%;
	margin-left: 3%;
	margin-right: 3%;
}

#products h4{
	font-size: 20px;
	font-weight: 400;
	padding: 5% 3%;
}

#products h5{
	font-size: 30px;
	font-weight: 300;
	color: #ec3642;
	padding: 3% 3%;

}


	

#cta{
	
	background-image: url("../img/bg-parallax.png");
	background-size: cover;
	background-position: top center;
	padding:10% 0;
}

#cta h2{
	font-size: 50px;
	font-weight: 700;
	padding-top: 2%;
	color: #fff;
}

#cta h4{
	font-size: 30px;
	font-weight: 200;
	color: #fff;
	
}

.btn-cta{
  background-color:transparent;
  border: 1px solid #fff;
  color: #FFFFFF;
  padding: 10px 40px;
  text-align: center;
  
  font-size: 30px;
  font-weight: bold;
  margin-top: 2%;
  cursor: pointer;

}

.btn-cta:hover{
	color:#ec3642;
	background-color: var(--color-rojo);
}


footer{
	background-color: var(--fondo-footer);
	color:   #ec3642;
	padding: 20px 0;
}
footer p{
	margin-bottom: 5px;
}
footer span{
	color: var(--color-rojo);
}




@media (min-width:600px) and (max-width: 1200px) { 
	
					#hero-slides h1{
						font-size: 45px;
						font-weight: 700;
						padding-top: 2%;
					}
	
						.carousel-caption{
						padding: 3% 8%;
						font-display: auto;
					}


	
 }


/*celular*/
@media (max-width: 600px) { 
	
	

      #hero-slides h1{
			font-size: 10px;
			
					}
	.btn-product{
  
 margin-left:10px;
		
		
}
	
	.products-info{
	text-align: center;
	margin-bottom: 7%;
	margin-left: 3%;
	margin-right: 3%;
}
	
}
